{% extends "_base.html" %}


{% block head %} 
    {% load static %}

    <!-- Include Leaflet CSS and JavaScript -->
    <link rel="stylesheet" href="{% static "leaflet/leaflet.css" %}" />
    <script src="{% static "leaflet/leaflet.js" %}"></script>

{% endblock head %}

{% block title %}About Us{% endblock title %}

{% block main %}

    <style>
        body{
            background-color: black;
            color: white;
        }
    </style>
    <div class="flex flex-col sm:flex-row">
        <div class="mycontainer group !pt-8 w-full lg:w-[50%]">
            <h1 class="fancy-headline !inline-block relative text-3xl mb-2 font-semibold text-slate-300" >About us</h1>
            <p class="text-slate-300 pt-4">
                Welcome to Apsolife Media Studios!
                <br>
                <br>
                At Apsolife, we specialize in capturing the essence of your event or business, immersing ourselves in each project as if it were our own. We are dedicated to providing high-quality photography and videography services, as well as website design and social media management, catering to the needs of our clients in Texas, USA.
                <br>
                <br>

                Our focus is on new entrepreneurs and Spanish-speaking individuals looking to stand out in the digital world. We are passionate about helping our clients achieve their goals by creating impactful visual content and effective marketing strategies.
                <br>
                <br>

                At Apsolife, we believe in collaboration, creativity, and excellence in every project we undertake. We are committed to providing you with personalized, high-quality service that exceeds your expectations.
                <br>
                <br>

                Give us the opportunity to work with you and discover what the Apsolife team can do for you. We are ready to bring your vision to life!
                <br>
                <br>

                Thank you for considering Apsolife Media Studios!


            </p>
        </div>
        {% comment %} <div class="mycontainer group !pt-8 w-full lg:w-[50%] border-l border-slate-700"> {% endcomment %}
            {% comment %} <div id="map" class="rounded-lg h-96"></div> {% endcomment %}
            
        {% comment %} </div> {% endcomment %}
    </div>
    <!-- container flex flex-col gap-8 sm:flex-row flex-1 -->
    <div class="mycontainer flex flex-col lg:flex-row gap-8 ">
        <img src="{% static "images/our_mission.jpg" %}" alt="" class="w-full sm:w-2/5 rounded-xl">
        <div class="group flex flex-col justify-center items-start w-full">
            <h1 class="fancy-headline !inline-block relative text-3xl mb-2 font-semibold text-slate-300">Our Mission</h1>
            <p class="text-slate-300 py-8">At Apsolife, our mission is to provide comprehensive solutions for our clients in the realms of video editing and recording services, commercial photography, social media management, and web design. We aim to offer a seamless experience by bringing together all your needs under one roof, ensuring the convenience and security of finding everything you require with Apsolife.</p>
            
            <div class="flex flex-col sm:flex-row gap-8 sm:gap-4 flex-1">
                {% include "components/_feature_card.html" with headline="Personalized Attention" para="Enjoy dedicated support and personalized solutions tailored to your unique needs." icon="fa-solid fa-person"%}
                {% include "components/_feature_card.html" with headline="Professional Approach" para="We guarantee a professional, efficient, fast, secure, and reliable service." icon="fa-solid fa-user-tie"%}
                {% include "components/_feature_card.html" with headline="Artistic Mastery" para="Experience the pinnacle of artistic excellence as we bring your vision to life with precision and flair." icon="fa-solid fa-palette"%}
            </div>
        </div>
    </div>
        
        
    <script>       
        LatLng = [32.91315865863555, -97.24984141246158]

        var map = L.map('map').setView([32.91315865863555, -97.24984141246158], 10);

        var marker = L.marker(LatLng).addTo(map);
        marker.bindPopup("Master Gaming Technology").openPopup();

        map.fitBounds([marker.getLatLng()])
        map.setView(map.getCenter(), 10);  // Center the map

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
    </script>


{% endblock main %}

{% block attribution %}
<a href="https://www.freepik.com/free-photo/business-strategy-success-target-goals_1211528.htm#query=our%20mission%20business&position=3&from_view=search&track=ais">Image by ijeab</a> on Freepik
{% endblock attribution %}