{% extends "_base.html" %}

{% comment %} {% load custom_filters %} {% endcomment %}

{% block head %}
    {% load static %}

{% endblock head %}


{% block main %}
<style>

body{
    background-color: black;
    color: white;
}
</style>

<div class="mycontainer flex flex-col lg:flex-row flex-wrap gap-8 justify-between max-w-[1700px] m-auto">
    {% for offer in offer_list %}
    <div class="flex flex-col justify-between w-full lg:w-[30%] p-8 shadow-lg shadow-yellow-600  border-gray-600 rounded-lg gap-4">
       <h1 class="text-2xl">{{offer.name}}</h1>
       <p class="text-gray-400">{{offer.description|safe}}</p>
       <h1 class="text-3xl font-semibold mt-4">
            ${{offer.price}} <span class="text-gray-400 text-base"> / MONTH </span>
        </h1>
       <a href="{% url "contact" offer_id=offer.id%}" class="btn-primary text-center">Contact</a>
    </div>
    {% endfor %} 

</div>

{% endblock main %}